
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#ffffff">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/stylesheet.css">
    {% feed_meta %}
</head>
<body>

<header id="main-navigation" class="site-header">
    <h1>{{ site.title }}</h1>
    {% include navigation.html %}
</header>

<header>
    <h2 id="page-title">{{ page.title}}</h2>
</header>

<div id="page-content">
  {{ content }}
</div>

<hr>
<footer>
    <small>Copyright © 2026 Vegnos</small>
</footer>

</body>
  </html>
